:root {
    --primary-light: #393A3F;
    --primary-dark: #2c2b32;
    --primary-darker: #28272E;
    --accent: #d88531;
    --text: #d1d5db;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: normal;
}


a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
}

h1>span {
    color: var(--accent);
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    font-family: inherit;
    font-weight: 550;
    background: inherit;
    color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

small {
    color: var(--accent);
    font-weight: bolder;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--primary-dark);
    color: var(--text);
    position: relative;
}

section {
    min-height: 100vh;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    background: var(--primary-darker);
    padding: 1rem;
    border-radius: 2rem;
    top: 80%;
    right: 40%;
    opacity: 0.7;
    z-index: 1;
    animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 0.7;
    }
}

.active {
    border-bottom: 2px solid var(--accent);
}

/* Hero Section  */
.hero__div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.hero__hero>h1 {
    position: relative;
    margin-bottom: 2rem;
}

.hero__hero>h1::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid var(--accent);
    width: 20%;
    bottom: -2rem;
    left: 0;
}

.hero__hero>div:first-of-type {
    margin-top: 4rem;
}

.hero__hero>div:nth-child(3) {
    margin-bottom: 2rem;
}

.hero__hero>div:last-of-type {
    display: flex;
    gap: 0.5rem;
}

.hero__hero button {
    padding: 0.75rem;
    color: var(--accent);
    border: 2px solid var(--accent);
}

.hero__image {
    background-color: var(--primary-darker);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 90%;
    max-height: 500px;
    max-width: 300px;
}

.hero__image>img {
    padding-top: 2rem;
    width: 80%;
    filter: brightness(80%);
    max-height: 500px;
    max-width: 300px;
}

/* Skills Section  */

.skills {
    margin-top: 4rem;
    background-color: var(--primary-light);
}

.skills__intro,
.projects__intro {
    text-align: center;
}

.skills__skills,
.projects__projects {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.skills__skills article,
.projects__projects article {
    background: var(--primary-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    transition: transform 0.2s ease-in-out;
}

.skills__skills article:hover,
.projects__projects article:hover {
    transform: scale(1.1)
}

.skills__skills svg {
    width: 8rem;
    height: 8rem;
}

.projects__projects article {
    background: var(--primary-light);
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__projects h3 {
    color: var(--accent);
}

.project__links>a {
    text-decoration: underline;
}

.projects__projects p {
    margin-top: 1rem;
}

.project__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-top: 1rem;
    align-items: end;
}

.project__tags>small {
    color: var(--text);
    background-color: var(--primary-darker);
    font-weight: 500;
    padding: 0.25rem;
    border-radius: 0.25rem;
    text-align: center;

}

.contacts {
    background: var(--primary-light);
    text-align: center;
}

.contacts>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.contacts>div:first-of-type {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.contacts__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--accent);
    padding: 0.25rem 1.5rem;
    background: var(--primary-dark);
    color: var(--accent);
    transition: transform 0.2s ease-in-out;
}

.contacts__contacts:hover {
    transform: scale(1.1)
}

.contacts__contacts>svg {
    color: var(--text);
    width: 1.75rem;
}

/* End of Sections */

.to_the_top {
    border: 2px solid var(--text);
    padding: 0.125rem;
    position: absolute;
    right: 4rem;
    bottom: 6rem;
}

.to_the_top>svg {
    width: 2rem;
    height: 2rem;
}

footer {
    text-align: center;
    padding: 1rem 0;
}

footer>small {
    color: var(--text);
}


/* Media Queries */

@media screen and (max-width: 800px) {
    nav {
        right: 30%;
    }
}

@media screen and (max-width: 500px) {
    .skills__skills svg {
        height: 6rem;
        width: 6rem;
    }

    nav {
        width: 100%;
        right: 0;
        border-radius: 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p,
    a,
    button {
        font-size: 0.875rem;
    }

    .contacts__contacts>svg,
    .to_the_top>svg {
        width: 1.5rem;
    }

    .to_the_top>svg {
        height: 1.5rem;
    }

    .to_the_top {
        right: 1.5rem;
    }

}

/* Animations  */
.expand {
    animation: expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}